#_____01 {
    /*
    position:absolute;
    */
    position: relative;
    left:0px;
    top:0px;
    width:640px;
    height:943px;
}

#test-temps-01_ {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:904px;
}

#btn_bg {
    position:absolute;
    left:0px;
    top:904px;
    width:640px;
    height:232px;
}

#btn_0{
    position:absolute;
    text-align:center;
    margin:0 auto;
    left:8px;
    bottom:88px;
    margin-bottom: 5px;
    width:308px;
    height:88px;
}

#btn_1 {
    position:absolute;
    text-align:center;
    left:324px;
    bottom:88px;
    margin-bottom: 5px;
    width:308px;
    height:88px;
}

#btn_2 {
    position:absolute;
    text-align:center;
    left:8px;
    bottom:0px;
    margin-bottom: 5px;
    width:308px;
    height:88px;
}

#btn_3 {
    position:absolute;
    text-align:center;
    left:324px;
    bottom:0px;
    margin-bottom: 5px;
    width:308px;
    height:88px;
}

#btn_caption_0 {
    position:absolute;
    left:20px;
    top:0px;
}

#btn_caption_1 {
    position:absolute;
    left:20px;
    top:0px;
}

#btn_caption_2 {
    position:absolute;
    left:20px;
    top:0px;
}

#btn_caption_3 {
    position:absolute;
    left:20px;
    top:0px;
}

#div_log_btn {
    /*
    position:absolute;
    bottom: 0;
    */
    width: 640px;
    height: 88px;
}

p {
    line-height: 88px;
    font-weight: 700;
}

#textarea_ {
    position:absolute;
    left:8px;
    top:8px;
    width:640px;
    height:300px;
}

#textarea {
font-size: 2em;
font-weight: 700;
color: #333;
}

#character01_ {
    position:absolute;
    left:50px;
    top:100px;
    width: 593px;
    height: 532px;
}

.btn_:hover {
    cursor: pointer;
}
